### Intellij ###
.idea
*.iml
out/

local.properties

### Xcode ###
xcuserdata/

### vim ###
*.swp

### macOS ###
.DS_Store

### Gradle ###
.gradle
build/

### KotlinTest ###
.kotlintest

### Dokka ###
package-list
