### Intellij ###
.idea
*.iml
out/

### vim ###
*.swp

### VisualStudioCode ###
.vscode

### macOS ###
.DS_Store

### Gradle ###
.gradle
build/
classes/

### Node ###
node_modules/

### Dokka ###
package-list

